<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}" />
    <script src="{% static 'js/chat.js' %}"></script>

    {% block imports %}{% endblock %}
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyCinema</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="navbar_item" id="home_link" href="/">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'new_post' %}" class="navbar_item" id="send_post">Send Post</a></li>
            <!--<li><a href="#" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="open_chat">Chat</a></li>-->
          </ul>
          <form action="/search_friends/" method="get" id="search_friends_form" class="navbar-form navbar-left">
            <div class="form-group">
                <input class="form-control" name="username" placeholder="Search friends" id="search_friends_bar">
            </div>
            <button type="submit" class="btn btn-default" id="search_friends_button">Search!</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a id="username" href="{% url 'profile_page' user_id=request.user %}">{{request.user}}</a></li>
                <li><a id="dropdown_settings_link" href="/settings">Settings</a></li>
                <li><a href="{% url 'logout' %}" id="dropdown_logout_url">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="closed" id="chat_popup">
        <a id="close_friend_list">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <div class="row col-xs-12" id="friend_list">
            {% for friend in request.user.profile.get_friends %}
            <h4 data-value="{{friend|escape}}" class="friends">{{friend|escape}}:
                {% if friend.profile.is_logged_in %}
                    Online
                {% else %}
                    Offline
                {% endif %}
            </h4>
            <hr>
            {% endfor %}
        </div>
        <div class="row chat-window col-xs-5 col-md-3" id="slider-content">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <div class="col-md-8 col-xs-8">
                            <h3 data-value="" class="panel-title"><span class="glyphicon glyphicon-comment"></span></h3>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <!--<a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>-->
                            <a id="close_chat_button"><span class="glyphicon glyphicon-remove icon_close"></span></a>
                        </div>
                    </div>
                    <div class="panel-body msg_container_base">
                    </div>
                    <div class="panel-footer">
                            <form action="" method="post" id="chat_form">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="message" id="chat_message" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-sm" id="send_chat_message" disabled>Send</button>
                                    </span>
                                </div>

                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block body %}
    {% endblock %}
    <div id="notifications_container">
        <a id="close_notifications_container"><span class="glyphicon glyphicon-remove"></span></a>
        <div id="notifications_wrapper"></div>
        <button class="btn btn-default" id="clear_notifications_button">Clear All</button>
    </div>
    <div id="notifications_bar">
        <span id="notifications_counter"></span>
        <a href="#" id="open_chat"></a>
    </div>
    <footer>
        <h4>This site is under development.</h4>
        <h4>Contact me at sendtosgdev@gmail.com</h4>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>