{% extends 'skeleton.html' %}
{% block imports %}
{% load static %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block title %}
<title>Homepage</title>
{% endblock %}
{% block body %}
<div class="main">
    <div id="sidenav_left" class="sidenav"></div>
    {% for movie in my_movies %}
        <div class="movie_post">
            <h6 id="movie_datetime">{{movie.created}}</h6>
            <h4 id="from_user">From: {{movie.user}}</h4>
            <hr id="hr_from_user">
            <h4 id="movie_title">{{movie.title}}</h4>
            <hr id="hr_title">
            <h4 id="movie_image">{{movie.image_url}}</h4>
            <div id="movie_rating">
                <span id="movie_rating_int">{{movie.rating}}</span>
            </div>
            <hr id="hr_rating_mobile">
            <h4 id="movie_content">{{movie.content}}</h4>
        </div>
    {% endfor %}
    <div id="sidenav_right" class="sidenav"></div>

</div>
{% endblock %}