{% extends 'skeleton.html' %}
{% block title %}
<title>Homepage</title>
{% endblock %}
{% block body %}
<p id="username">{{request.user}}</p>
<a href="/newpost" id="send_post">Send Post</a>
<a href="/logout" id="logout_url">Logout</a>
<form action="/search_friends/" method="get" id="search_friends_form">
    <input name="username" placeholder="Search friends" id="search_friends_bar">
    <button type="submit" id="search_friends_button">Search!</button>
</form>
<div class="main">
    {% for movie in my_movies %}
        <h6>{{movie.title}}</h6>
        <h6>{{movie.user}}</h6>
        <h6>{{movie.image_url}}</h6>
        <h6>{{movie.rating}}</h6>
        <h6>{{movie.content}}</h6>
    {% endfor %}
</div>
{% endblock %}