{% extends 'skeleton.html' %}
{% block imports %}
    {% load static %}
    <script src="{% static 'js/profile.js' %}"></script>
    <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}
<title>Profile of {{profile_user.username}}</title>
{% endblock %}
{% block body %}
<div class="main">
    <div class="sub_profile" id="sub_profile_header">
        <img id="avatar" src="/avatar_images/{{profile_user.profile.avatar}}">
        <h4 id="profile_username">Profile: {{profile_user.username}}</h4>
        <h4 id="profile_name">Name:
            {% if profile_user.profile.name %}
                {{profile_user.profile.name}}
            {% else %}
                Not set yet.
            {% endif %}
        </h4>
        {% if is_friend %}

            <button class="btn btn-danger" data-toggle="modal" data-target="#delete_friend_modal" type="button" id="show_delete_friend_modal">Remove from friendlist</button>
            <div id="delete_friend_modal" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <h4>Are you sure you want to remove {{profile_user.username}} from your friendlist?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close_modal_button" data-dismiss="modal">No</button>
                    <form id="delete_friend_form" method="post" action="{% url 'delete_friend' friend_user_id=profile_user.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" id="delete_friend_button">Yes, I am sure</button>
                    </form>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% else %}
            <form id="add_friend_post" action="{% url 'add_friend' friend_user_id=profile_user.username %}" method="post">
                {% csrf_token %}
                <button class="btn btn-default" type="submit" id="add_friend_button">ADD AS FRIEND</button>
            </form>
        {% endif %}
        {% if messages %}
            <div class="errors">
                {% for message in messages %}
                    <h4><strong>{{ message }}</strong></h4>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="sub_profile" id="sub_profile_posts">
        {% if profile_movies %}
            {% for movie in profile_movies %}
                <div class="movie_post">
                    <img src="{{movie.image_url}}" id="movie_image" />
                    <h6 id="movie_datetime">{{movie.created}}</h6>
                    <h4 id="from_user">From: {{movie.user}}</h4>
                    <hr id="hr_from_user">
                    <h4 id="movie_title">{{movie.title}}</h4>
                    <hr id="hr_title">
                    <div class='movie_rating' id="movie_rating">
                        <span class='movie_rating_int' id="movie_rating_int">{{movie.rating}}</span>
                    </div>
                    {% if movie.url %}
                        <hr>
                        <h4 id="movie_link"><a href="{{movie.url}}">{{movie.url}}</a></h4>
                    {% endif %}
                    <hr id="hr_rating_mobile">
                    <h4 id="movie_content">{{movie.content}}</h4>
                </div>
            {% endfor %}

        {% else %}
        <h4 id="no_posts_tag">This user never received a post.</h4>
        {% endif %}
    </div>
</div>
{% endblock %}