{% extends 'skeleton.html' %}
{% block imports %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/search_friends.css' %}" />
{% endblock %}
{% block title %}
<title>Search Results</title>
{% endblock %}
{% block body %}
    <div class="main">
    {% if search_results %}
        {% for user in search_results %}
        <div class="user_profile">
            <img class="avatar" src="/avatar_images/{{user.profile.avatar}}">
            <h4 class="user_profile_accountname">User: <a href="{% url 'profile_page' user_id=user.username %}" class="search_results">{{user.username}}</a></h4>
            {% if user.profile.name %}
                <h4 class="user_profile_name">Name: {{user.profile.name}}</h4>
            {% endif %}
            <form action="{% url 'add_friend' user.username%}" method="post" id="add_friend_form">
                {% csrf_token %}
                <button class="btn btn-default add_friend_button" type="submit">ADD FRIEND</button>
            </form>
        </div>
        {% endfor %}
    {% else %}

        <div class="errors">
            <h4><strong>There were no results!</strong></h4>
        </div>
        <form action="/search_friends/" method="get" id="search_friends_form_2">
            <div class="form-group">
                <input class="form-control" name="username" placeholder="Search friends" id="search_friends_bar">
            </div>
            <button type="submit" class="btn btn-default" id="search_friends_button">Search!</button>
        </form>
    {% endif %}
    </div>
{% endblock %}