{% extends 'skeleton.html' %}
{% block title %}
    <title>Signup</title>
{% endblock %}
{% block body %}
    <div class="main">
        <form role="form" action="#" method="post">
            {% csrf_token %}
            <input placeholder="Username" id="username_input" type="text" name="username">
            <input placeholder="Password" id="password_input" type="password" name="password">
            <input placeholder="Verify password" id="verify_password_input" type="password" name="verify_password">
            <input placeholder="email" id="email_input" type="email" name="email">
            <button type="submit" id="signup_button">Signup</button>
        </form>
        {{ error }}
    </div>
{% endblock %}
