.main {
	width: 100%;
}

/******************
  Movie Posts
******************/

.movie_post {
	border-style: solid;
	border-width: 5px;
}
.movie_post h4 {
    overflow-wrap: break-word;

}
#hr_rating_mobile {
	display: none;
}
#movie_rating_int {
	display: none;
}
.glyphicon {
	color: #CC3333;
}


/********************************
Small devices - Tablets (<768px)
********************************/

@media screen and (max-width: 767px) {
	.main {
		overflow: auto;
		min-height: calc(100vh - 172px);
		margin-left: 5px;
		margin-right: 5px;
	}
	#no_posts_img {
		height: 100%;
		background: url('../images/no_posts_853x1280_grey.jpg') no-repeat center / contain;
	}
	/******************
      Movie Posts
    ******************/
	#filter_posts {
		margin-top: 10px;
		margin-bottom: 20px;
		z-index: 0;
	}
	.movie_post {
		border-radius: 10px;
		margin-bottom: 20px;
	}
	#movie_image {
		display: none;
	}
	.movie_post h4 {
		margin-left: 5px;
		margin-right: 5px;
	}
	#hr_rating_mobile {
		display: block;
	}
	hr {
		border-top: 2px solid black;
	}
	#movie_datetime {
		float: right;
		margin-bottom: 0;
		margin-top: 1px;
		margin-right: 1px;
	}
	.glyphicon {
		font-size: 18px;
	}
	.movie_rating {
		text-align: center;
	}
	#movie_content {
		margin-bottom: 20px;
	}
}
@media (max-width: 767px) and (orientation:landscape) {
	#no_posts_img {
		height: 400px;
		background-size: contain;
	}
}

/********************************
Medium devices - Tablets (768px<=)
********************************/

@media screen and (min-width: 768px) {
	.main {
		min-height: calc(100vh - 172px);
	}
	#no_posts_img {
		height: 100%;
		background: url('../images/no_posts_853x1280_grey.jpg') no-repeat center / contain;
	}
	#filter_posts {
		margin-top: 10px;
		margin-bottom: 20px;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	/*****MoviePosts****/
	.movie_post {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		display: block;
		overflow: auto;
		border-radius: 10px;
	}
	img {
		float: right;
		max-height: 350px;
		max-width: 25%;
	}
	#movie_datetime {
		float: right;
	}
	#hr_rating_mobile {
		display: block;
	}
	hr {
		border-top: 2px solid black;
	}
	#movie_rating {
		text-align: center;
	}
	.glyphicon {
		font-size: 18px;
	}
}

/********************************
Medium devices - Tablets (768px<=)
********************************/

@media screen and (min-width: 768px) {
	#filter_posts {
		max-width: 50%;
	}
	#no_posts_img {
		min-height: 800px;
	}
}