
/********************************
Small devices - Tablets (<768px)
********************************/
@media screen and (max-width: 767px){
    .main {
        width: 100%;
        min-height: calc(100vh - 212px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .main input {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #login_button {
        font-size: 18px;
        margin-right: 20px;
        margin-bottom: 2px;
    }

    #sign_in_url {
        margin-left: 20px;
        margin-bottom: 2px;

    }
}

/********************************
Medium devices - Tablets (768px<=)
********************************/
@media screen and (min-width: 768px){
    .main {
        width: 60%;
        min-height: calc(100vh - 212px);
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .main input {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main button {
        margin-right: 10%;
    }
    .main a {
        margin-left: 10%;
    }
}