html,
body {
	min-height: 100vh;
}
body {
	display: flex;
	flex-wrap: wrap;
	background-color: #e6e6e6;
}

/********************
        Navbar
********************/

.navbar-default {
  background-color: #111111;
  border-color: #cc3333;
  width: 100%;
}
.navbar-default .navbar-brand {
  color: #cc3333;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #cc3333;
}
.navbar-default .navbar-nav > li > a {
  color: #cc3333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #cc3333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #cc3333;
}
.navbar-default .navbar-toggle {
  border-color: #cc3333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #cc3333;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cc3333;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar
 {
  background-color: white;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cc3333;
}
.navbar-default .navbar-link {
  color: #cc3333;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.notifications {
    display: none;
}
#notifications_container {
    display: none;
    height: calc(100vh - 112px);
    width: 100%;
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.72);
}
/*******
Footer
********/

footer {
	background-color: #333;
	color: white;
	width: 100%;
}

/********************************
Small devices - Tablets (<768px)
********************************/

@media screen and (max-width: 767px) {
	body {
		background-color: #e6e6e6;
		position: relative;
	}
	/******************
           Navbar
    ******************/
    .collapsing {
        -webkit-transition: height .35s ease;
        -o-transition: height .35s ease;
        transition: height .35s ease;
    }
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #cc3333;
      }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
      }
      .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
      .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
      .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #cc3333;
      }
	.errors {
		margin-top: 20px;
		margin-bottom: 20px;
		color: darkorange;
	}
	/***********
	    Chat
    ***********/
    #chat_popup {
        position: absolute;
        bottom: 60px;
        z-index: 1;
        left: -100vw;
        width: 100vw;
        height: calc(100vh - 112px);
        background-color: rgba(0, 0, 0, 0.72);

    }
    #open_chat {
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        height: 100%;
        width: 40px;
        height: 40px;
        background: url('../images/chat_icon_3.png') no-repeat center / contain;
    }
    #open_chat:active {
        transform: translateY(-2px);
    }

    /*#open_chat span {
        font-size: 30px;
        float: right;
        padding-top: 25%;
        padding-right: 25%;
    }*/
    #slider-content {
        width:  100vw;
        padding: 0;
        margin-left: 0px;
        margin-right: 0px;
    }

    #slider-content > div > div > div.panel-heading.top-bar > div.col-md-8.col-xs-8,
    #slider-content > div > div > div.panel-heading.top-bar > div.col-md-4.col-xs-4{
        padding: 0;
    }

    #slider-content > div {
        height: 100%;
        padding: 0;

    }
    #close_friend_list {
        display: none;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }
    #close_friend_list .glyphicon.glyphicon-remove {
        color: white;
    }
    #friend_list {
        margin-left: 0;
        margin-right: 0;
        overflow: scroll;
        max-height: calc(100% - 33px);
    }
    #friend_list hr:last-child {
        margin-bottom: 0;
    }
    #friend_list h4:first-child {
        margin-top: 20px;
    }
    #friend_list h4 {
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
    .friends {
        width: 100%;
    }
    .chat-window {
        height: 100%;
        display: none;
    }
    #close_chat_button {
        float: right;
    }
    .panel {
        height: 100%;
        background-color: inherit;
    }
    .panel-body {
        height: calc(100% - 91px);
        overflow: scroll;
    }
    .panel-heading {
        height: 40px;
    }

    .messages_wrapper.sent {
        margin-left: 40%;
        background-color: lightgray;
        border-radius: 5px;
    }
    .messages_wrapper.received{
        background-color: lightsteelblue;
        border-radius: 5px;
        margin-right: 40%;
    }
    .messages_wrapper h4 {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
    }
    .messages_wrapper p {
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 0px;
        text-align: end;
    }

    /*****Notifications***/
    #notifications_wrapper {
        overflow: scroll;
        max-height: 100%;

    }
    #clear_notifications_button {
        bottom: 5px;
        position: absolute;
        right: 5px;
    }
    #notifications_bar {
        width: 100%;
        height: 60px;
        background-color: #111;
        position: fixed;
        bottom: 0;
        border-radius: 5px;
        /*border: 2px solid #c96b0b;*/
    }
    #notifications_counter {
        margin-top: 10px;
        margin-left: 10px;
        display: inline-block;
        width: 40px;
        height: 40px;
    }
    #notifications_counter:active {
        transform: translateY(-2px);
    }
    .notifications {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid white;
        border-radius: 6px;
        min-height: 50px;
        text-align: center;
        vertical-align: middle;
        padding-top: 12px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 12px;
    }
    .notifications:active {
        transform: translateY(-2px);
    }
    #close_notifications_container {
        float: right;
        margin-right: 20px;
        margin-top: 10px;
    }
    #close_notifications_container .glyphicon.glyphicon-remove {
        font-size: 24px;
        color: white;
    }
	/************
        Footer
    ************/
	footer {
		height: 140px;
		text-align: center;

	}
	footer h4 {
		margin-left: 10px;
		margin-right: 10px;
	}
}

/********************************
Medium devices - Tablets (768px<=)
********************************/

@media screen and (min-width: 768px) {
	.errors {
		margin-top: 20px;
		margin-bottom: 20px;
		color: darkorange;
	}
	/******Navbar*******/
	#search_friends_bar {
		width: 17vw;
	}
    /***********
	    Chat
    ***********/
    #chat_popup {
        position: absolute;
        bottom: 60px;
        z-index: 1;
        left: -100vw;
        width: 100vw;
        height: calc(100vh - 112px);
        background-color: rgba(0, 0, 0, 0.72);

    }
    #open_chat {
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        height: 100%;
        width: 40px;
        height: 40px;
        background: url('../images/chat_icon_3.png') no-repeat center / contain;
    }
    #open_chat:active {
        transform: translateY(-2px);
    }

    /*#open_chat span {
        font-size: 30px;
        float: right;
        padding-top: 25%;
        padding-right: 25%;
    }*/
    #slider-content {
        width:  100vw;
        padding: 0;
        margin-left: 0px;
        margin-right: 0px;
    }

    #slider-content > div > div > div.panel-heading.top-bar > div.col-md-8.col-xs-8,
    #slider-content > div > div > div.panel-heading.top-bar > div.col-md-4.col-xs-4{
        padding: 0;
    }

    #slider-content > div {
        height: 100%;
        padding: 0;

    }
    #close_friend_list {
        display: none;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }
    #close_friend_list .glyphicon.glyphicon-remove {
        color: white;
    }
    #friend_list {
        margin-left: 0;
        margin-right: 0;
        overflow-y: scroll;
        max-height: calc(100% - 33px);
    }
    #friend_list hr:last-child {
        margin-bottom: 0;
    }
    #friend_list h4:first-child {
        margin-top: 20px;
    }
    #friend_list h4 {
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
    .friends {
        width: 100%;
    }
    .chat-window {
        height: 100%;
        display: none;
    }
    #close_chat_button {
        float: right;
    }
    .panel {
        height: 100%;
        background-color: inherit;
    }
    .panel-body {
        height: calc(100% - 91px);
        overflow-y: scroll;
    }
    .panel-heading {
        height: 40px;
    }

    .messages_wrapper.sent {
        margin-left: 40%;
        background-color: lightgray;
        border-radius: 5px;
    }
    .messages_wrapper.received{
        background-color: lightsteelblue;
        border-radius: 5px;
        margin-right: 40%;
    }
    .messages_wrapper h4 {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
    }
    .messages_wrapper p {
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 0px;
        text-align: end;
    }
	/*****Notifications***/
    #notifications_wrapper {
        overflow: scroll;
        max-height: 100%;

    }
    #clear_notifications_button {
        bottom: 5px;
        position: absolute;
        right: 5px;
    }
    #notifications_bar {
        width: 100%;
        height: 60px;
        background-color: orange;
        position: fixed;
        bottom: 0;
        border-radius: 5px;
        border: 2px solid #c96b0b;
    }
    #notifications_counter {
        margin-top: 10px;
        margin-left: 10px;
        display: inline-block;
        width: 40px;
        height: 40px;
    }
    #notifications_counter:active {
        transform: translateY(-2px);
    }
    .notifications {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid white;
        border-radius: 6px;
        min-height: 50px;
        text-align: center;
        vertical-align: middle;
        padding-top: 12px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 12px;
    }
    .notifications:active {
        transform: translateY(-2px);
    }
    #close_notifications_container {
        float: right;
        margin-right: 20px;
        margin-top: 10px;
    }
    #close_notifications_container .glyphicon.glyphicon-remove {
        font-size: 24px;
        color: white;
    }
	/************
        Footer
    ************/
	footer {
		text-align: center;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	footer h4 {
		margin-left: 10px;
		margin-right: 10px;
	}
}

/********************************
Large devices  (1050px<=)
********************************/

@media screen and (min-width: 1050px) {
	#search_friends_bar {
		width: 30vw;
		margin-left: 100px;
	}
}